# Scraping Wilayah Kerja Statistik 2020

In [2]:
import requests
import json
import pandas as pd
import numpy as np
import time
from io import StringIO

## Import Data Provinsi

In [36]:
prov = pd.read_csv('prov.csv')
prov.head()

   kode            nama
0    11            ACEH
1    12  SUMATERA UTARA
2    13  SUMATERA BARAT
3    14            RIAU
4    15           JAMBI

## Ambil Data Semua BPS Kab/Kota Masing-Masing Provinsi

In [4]:
# base dataframe
df = pd.DataFrame({
    "kode_prov": [],
    "kode_bps": [],
    "nama_bps": [],
    "nama_dagri": []
})

for k in prov['kode']:
    url = 'https://sig.bps.go.id/rest-bridging/getwilayah?level=kabupaten&parent={}'.format(k)
    r = requests.get(url)
    data = r.json()

    df_temp = pd.DataFrame(data)
    df_temp['kode_prov'] = k

    df = pd.concat([df, df_temp], ignore_index=True)

df["kode_prov"] = df["kode_prov"].astype(int)
df.head()

   kode_prov kode_bps       nama_bps          nama_dagri kode_dagri
0         11     1101       SIMEULUE       KAB. SIMEULUE      11.09
1         11     1102   ACEH SINGKIL   KAB. ACEH SINGKIL      11.10
2         11     1103   ACEH SELATAN   KAB. ACEH SELATAN      11.01
3         11     1104  ACEH TENGGARA  KAB. ACEH TENGGARA      11.02
4         11     1105     ACEH TIMUR     KAB. ACEH TIMUR      11.03

## Export Data BPS Kab/Kota

In [5]:
df.to_csv('kabupaten.csv', index=False)
df.to_json('kabupaten.json', orient='records')

In [13]:
from selenium import webdriver
driver = webdriver.Edge()

# input data
kabkota = pd.read_csv('kabupaten.csv')
kabkota.head()

   kode_prov  kode_bps       nama_bps          nama_dagri  kode_dagri
0         11      1101       SIMEULUE       KAB. SIMEULUE       11.09
1         11      1102   ACEH SINGKIL   KAB. ACEH SINGKIL       11.10
2         11      1103   ACEH SELATAN   KAB. ACEH SELATAN       11.01
3         11      1104  ACEH TENGGARA  KAB. ACEH TENGGARA       11.02
4         11      1105     ACEH TIMUR     KAB. ACEH TIMUR       11.03

In [9]:
# split data into 5 chunks
kabkota_split = np.array_split(kabkota, 5)
kabkota_split

C:\Users\222011829\AppData\Roaming\Python\Python39\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

[    kode_prov  kode_bps              nama_bps                 nama_dagri  \
 0          11      1101              SIMEULUE              KAB. SIMEULUE
 1          11      1102          ACEH SINGKIL          KAB. ACEH SINGKIL
 2          11      1103          ACEH SELATAN          KAB. ACEH SELATAN
 3          11      1104         ACEH TENGGARA         KAB. ACEH TENGGARA
 4          11      1105            ACEH TIMUR            KAB. ACEH TIMUR
 ..        ...       ...                   ...                        ...
 92         15      1506  TANJUNG JABUNG TIMUR  KAB. TANJUNG JABUNG TIMUR
 93         15      1507  TANJUNG JABUNG BARAT  KAB. TANJUNG JABUNG BARAT
 94         15      1508                  TEBO                  KAB. TEBO
 95         15      1509                 BUNGO                 KAB. BUNGO
 96         15      1571                 JAMBI                 KOTA JAMBI

     kode_dagri
 0        11.09
 1        11.10
 2        11.01
 3        11.02
 4        11.03
 ..         ...
 92       15.07
 93       15.06
 94       15.09
 95       15.08
 96       15.71

 [97 rows x 5 columns],
      kode_prov  kode_bps            nama_bps               nama_dagri  \
 97          15      1572        SUNGAI PENUH        KOTA SUNGAI PENUH
 98          16      1601   OGAN KOMERING ULU   KAB. OGAN KOMERING ULU
 99          16      1602  OGAN KOMERING ILIR  KAB. OGAN KOMERING ILIR
 100         16      1603          MUARA ENIM          KAB. MUARA ENIM
 101         16      1604               LAHAT               KAB. LAHAT
 ..         ...       ...                 ...                      ...
 189         33      3303         PURBALINGGA         KAB. PURBALINGGA
 190         33      3304        BANJARNEGARA        KAB. BANJARNEGARA
 191         33      3305             KEBUMEN             KAB. KEBUMEN
 192         33      3306           PURWOREJO           KAB. PURWOREJO
 193         33      3307            WONOSOBO            KAB. WONOSOBO

      kode_dagri
 97        15.72
 98        16.01
 99        16.02
 100       16.03
 101       16.04
 ..          ...
 189       33.03
 190       33.04
 191       33.05
 192       33.06
 193       33.07

 [97 rows x 5 columns],
      kode_prov  kode_bps       nama_bps          nama_dagri  kode_dagri
 194         33      3308       MAGELANG       KAB. MAGELANG       33.08
 195         33      3309       BOYOLALI       KAB. BOYOLALI       33.09
 196         33      3310         KLATEN         KAB. KLATEN       33.10
 197         33      3311      SUKOHARJO      KAB. SUKOHARJO       33.11
 198         33      3312       WONOGIRI       KAB. WONOGIRI       33.12
 ..         ...       ...            ...                 ...         ...
 286         52      5205          DOMPU          KAB. DOMPU       52.05
 287         52      5206           BIMA           KAB. BIMA       52.06
 288         52      5207  SUMBAWA BARAT  KAB. SUMBAWA BARAT       52.07
 289         52      5208   LOMBOK UTARA   KAB. LOMBOK UTARA       52.08
 290         52      5271        MATARAM        KOTA MATARAM       52.71

 [97 rows x 5 columns],
      kode_prov  kode_bps              nama_bps                nama_dagri  \
 291         52      5272                  BIMA                 KOTA BIMA
 292         53      5301           SUMBA BARAT          KAB. SUMBA BARAT
 293         53      5302           SUMBA TIMUR          KAB. SUMBA TIMUR
 294         53      5303                KUPANG               KAB. KUPANG
 295         53      5304  TIMOR TENGAH SELATAN  KAB TIMOR TENGAH SELATAN
 ..         ...       ...                   ...                       ...
 383         71      7173               TOMOHON              KOTA TOMOHON
 384         71      7174            KOTAMOBAGU           KOTA KOTAMOBAGU
 385         72      7201     BANGGAI KEPULAUAN    KAB. BANGGAI KEPULAUAN
 386         72      7202               BANGGAI              KAB. BANGGAI
 387         72      7203              MOROWALI             KAB. MOROWALI

      kode_dagri
 291       52.72
 292       53.12
 293       53.11
 294       53.01
 295       53.02
 ..          ...
 383       71.73
 384       71.74
 385       72.07
 386       72.01
 387       72.06

 [97 rows x 5 columns],
      kode_prov  kode_bps           nama_bps              nama_dagri  \
 388         72      7204               POSO               KAB. POSO
 389         72      7205           DONGGALA           KAB. DONGGALA
 390         72      7206          TOLI-TOLI          KAB. TOLI TOLI
 391         72      7207               BUOL               KAB. BUOL
 392         72      7208     PARIGI MOUTONG     KAB. PARIGI MOUTONG
 ..         ...       ...                ...                     ...
 480         91      9109           TAMBRAUW           KAB. TAMBRAUW
 481         91      9110            MAYBRAT            KAB. MAYBRAT
 482         91      9111  MANOKWARI SELATAN  KAB. MANOKWARI SELATAN
 483         91      9112   PEGUNUNGAN ARFAK   KAB. PEGUNUNGAN ARFAK
 484         91      9171             SORONG             KOTA SORONG

      kode_dagri
 388       72.02
 389       72.03
 390       72.04
 391       72.05
 392       72.08
 ..          ...
 480       92.09
 481       92.10
 482       92.11
 483       92.12
 484       92.71

 [97 rows x 5 columns]]

In [17]:
latlong = pd.DataFrame({
    "kode_bps": [],
    "latitude": [],
    "longitude": []
})
new_data_list = []
latlong

Empty DataFrame
Columns: [kode_bps, latitude, longitude]
Index: []

In [18]:
def iterateScrape(chunk):
    for i, row in chunk.iterrows():
        url = 'https://www.google.com/maps/search/Badan Pusat Statistik {}, {}'.format(row['nama_bps'], row['nama_dagri'])
        driver.get(url)
        time.sleep(3.5)
        latlong = driver.current_url.split("@")[1].split("/")[0].split(",")
        new_data = {
            "kode_bps": row['kode_bps'],
            "latitude": latlong[0],
            "longitude": latlong[1]
        }

        print("process {} of {}".format(i, len(chunk)))
        new_data_list.append(new_data)

In [14]:
# iterateScrape(kabkota_split[0])
i = 1
for chunk in kabkota_split:
    print(f"chunk {i} of {len(kabkota_split)}")
    iterateScrape(chunk)
    i+=1
latlong = pd.concat([latlong, pd.DataFrame(new_data_list)], ignore_index=True)

chunk 1 of 5
process 0 of 97
process 1 of 97
process 2 of 97
process 3 of 97
process 4 of 97
process 5 of 97
process 6 of 97
process 7 of 97
process 8 of 97
process 9 of 97
process 10 of 97
process 11 of 97
process 12 of 97
process 13 of 97
process 14 of 97
process 15 of 97
process 16 of 97
process 17 of 97
process 18 of 97
process 19 of 97
process 20 of 97
process 21 of 97
process 22 of 97
process 23 of 97
process 24 of 97
process 25 of 97
process 26 of 97
process 27 of 97
process 28 of 97
process 29 of 97
process 30 of 97
process 31 of 97
process 32 of 97
process 33 of 97
process 34 of 97
process 35 of 97
process 36 of 97
process 37 of 97
process 38 of 97
process 39 of 97
process 40 of 97
process 41 of 97
process 42 of 97
process 43 of 97
process 44 of 97
process 45 of 97
process 46 of 97
process 47 of 97
process 48 of 97
process 49 of 97
process 50 of 97
process 51 of 97
process 52 of 97
process 53 of 97
process 54 of 97
process 55 of 97
process 56 of 97
process 57 of 97
process 58 of 97
process 59 of 97
process 60 of 97
process 61 of 97
process 62 of 97
process 63 of 97
process 64 of 97
process 65 of 97
process 66 of 97
process 67 of 97
process 68 of 97
process 69 of 97
process 70 of 97
process 71 of 97
process 72 of 97
process 73 of 97
process 74 of 97
process 75 of 97
process 76 of 97
process 77 of 97
process 78 of 97
process 79 of 97
process 80 of 97
process 81 of 97
process 82 of 97
process 83 of 97
process 84 of 97
process 85 of 97
process 86 of 97
process 87 of 97
process 88 of 97
process 89 of 97
process 90 of 97
process 91 of 97
process 92 of 97
process 93 of 97
process 94 of 97
process 95 of 97
process 96 of 97
chunk 2 of 5
process 97 of 97
process 98 of 97
process 99 of 97
process 100 of 97
process 101 of 97
process 102 of 97
process 103 of 97
process 104 of 97
process 105 of 97
process 106 of 97
process 107 of 97
process 108 of 97
process 109 of 97
process 110 of 97
process 111 of 97
process 112 of 97
process 113 of 97
process 114 of 97
process 115 of 97
process 116 of 97
process 117 of 97
process 118 of 97
process 119 of 97
process 120 of 97
process 121 of 97
process 122 of 97
process 123 of 97
process 124 of 97
process 125 of 97
process 126 of 97
process 127 of 97
process 128 of 97
process 129 of 97
process 130 of 97
process 131 of 97
process 132 of 97
process 133 of 97
process 134 of 97
process 135 of 97
process 136 of 97
process 137 of 97
process 138 of 97
process 139 of 97
process 140 of 97
process 141 of 97
process 142 of 97
process 143 of 97
process 144 of 97
process 145 of 97
process 146 of 97
process 147 of 97
process 148 of 97
process 149 of 97
process 150 of 97
process 151 of 97
process 152 of 97
process 153 of 97
process 154 of 97
process 155 of 97
process 156 of 97
process 157 of 97
process 158 of 97
process 159 of 97
process 160 of 97
process 161 of 97
process 162 of 97
process 163 of 97
process 164 of 97
process 165 of 97
process 166 of 97
process 167 of 97
process 168 of 97
process 169 of 97
process 170 of 97
process 171 of 97
process 172 of 97
process 173 of 97
process 174 of 97
process 175 of 97
process 176 of 97
process 177 of 97
process 178 of 97
process 179 of 97
process 180 of 97
process 181 of 97
process 182 of 97
process 183 of 97
process 184 of 97
process 185 of 97
process 186 of 97
process 187 of 97
process 188 of 97
process 189 of 97
process 190 of 97
process 191 of 97
process 192 of 97
process 193 of 97
chunk 3 of 5
process 194 of 97
process 195 of 97
process 196 of 97
process 197 of 97
process 198 of 97
process 199 of 97
process 200 of 97
process 201 of 97
process 202 of 97
process 203 of 97
process 204 of 97
process 205 of 97
process 206 of 97
process 207 of 97
process 208 of 97
process 209 of 97
process 210 of 97
process 211 of 97
process 212 of 97
process 213 of 97
process 214 of 97
process 215 of 97
process 216 of 97
process 217 of 97
process 218 of 97
process 219 of 97
process 220 of 97
process 221 of 97
process 222 of 97
process 223 of 97
process 224 of 97
process 225 of 97
process 226 of 97
process 227 of 97
process 228 of 97
process 229 of 97
process 230 of 97
process 231 of 97
process 232 of 97
process 233 of 97
process 234 of 97
process 235 of 97
process 236 of 97
process 237 of 97
process 238 of 97
process 239 of 97
process 240 of 97
process 241 of 97
process 242 of 97
process 243 of 97
process 244 of 97
process 245 of 97
process 246 of 97
process 247 of 97
process 248 of 97
process 249 of 97
process 250 of 97
process 251 of 97
process 252 of 97
process 253 of 97
process 254 of 97
process 255 of 97
process 256 of 97
process 257 of 97
process 258 of 97
process 259 of 97
process 260 of 97
process 261 of 97
process 262 of 97
process 263 of 97
process 264 of 97
process 265 of 97
process 266 of 97
process 267 of 97
process 268 of 97
process 269 of 97
process 270 of 97
process 271 of 97
process 272 of 97
process 273 of 97
process 274 of 97
process 275 of 97
process 276 of 97
process 277 of 97
process 278 of 97
process 279 of 97
process 280 of 97
process 281 of 97
process 282 of 97
process 283 of 97
process 284 of 97
process 285 of 97
process 286 of 97
process 287 of 97
process 288 of 97
process 289 of 97
process 290 of 97
chunk 4 of 5
process 291 of 97
process 292 of 97
process 293 of 97
process 294 of 97
process 295 of 97
process 296 of 97
process 297 of 97
process 298 of 97
process 299 of 97
process 300 of 97
process 301 of 97
process 302 of 97
process 303 of 97
process 304 of 97
process 305 of 97
process 306 of 97
process 307 of 97
process 308 of 97
process 309 of 97
process 310 of 97
process 311 of 97
process 312 of 97
process 313 of 97
process 314 of 97
process 315 of 97
process 316 of 97
process 317 of 97
process 318 of 97
process 319 of 97
process 320 of 97
process 321 of 97
process 322 of 97
process 323 of 97
process 324 of 97
process 325 of 97
process 326 of 97
process 327 of 97
process 328 of 97
process 329 of 97
process 330 of 97
process 331 of 97
process 332 of 97
process 333 of 97
process 334 of 97
process 335 of 97
process 336 of 97
process 337 of 97
process 338 of 97
process 339 of 97
process 340 of 97
process 341 of 97
process 342 of 97
process 343 of 97
process 344 of 97
process 345 of 97
process 346 of 97
process 347 of 97
process 348 of 97
process 349 of 97
process 350 of 97
process 351 of 97
process 352 of 97
process 353 of 97
process 354 of 97
process 355 of 97
process 356 of 97
process 357 of 97
process 358 of 97
process 359 of 97
process 360 of 97
process 361 of 97
process 362 of 97
process 363 of 97
process 364 of 97
process 365 of 97
process 366 of 97
process 367 of 97
process 368 of 97
process 369 of 97
process 370 of 97
process 371 of 97
process 372 of 97
process 373 of 97
process 374 of 97
process 375 of 97
process 376 of 97
process 377 of 97
process 378 of 97
process 379 of 97
process 380 of 97
process 381 of 97
process 382 of 97
process 383 of 97
process 384 of 97
process 385 of 97
process 386 of 97
process 387 of 97
chunk 5 of 5
process 388 of 97
process 389 of 97
process 390 of 97
process 391 of 97
process 392 of 97
process 393 of 97
process 394 of 97
process 395 of 97
process 396 of 97
process 397 of 97
process 398 of 97
process 399 of 97
process 400 of 97
process 401 of 97
process 402 of 97
process 403 of 97
process 404 of 97
process 405 of 97
process 406 of 97
process 407 of 97
process 408 of 97
process 409 of 97
process 410 of 97
process 411 of 97
process 412 of 97
process 413 of 97
process 414 of 97
process 415 of 97
process 416 of 97
process 417 of 97
process 418 of 97
process 419 of 97
process 420 of 97
process 421 of 97
process 422 of 97
process 423 of 97
process 424 of 97
process 425 of 97
process 426 of 97
process 427 of 97
process 428 of 97
process 429 of 97
process 430 of 97
process 431 of 97
process 432 of 97
process 433 of 97
process 434 of 97
process 435 of 97
process 436 of 97
process 437 of 97
process 438 of 97
process 439 of 97
process 440 of 97
process 441 of 97
process 442 of 97
process 443 of 97
process 444 of 97
process 445 of 97
process 446 of 97
process 447 of 97
process 448 of 97
process 449 of 97
process 450 of 97
process 451 of 97
process 452 of 97
process 453 of 97
process 454 of 97
process 455 of 97
process 456 of 97
process 457 of 97
process 458 of 97
process 459 of 97
process 460 of 97
process 461 of 97
process 462 of 97
process 463 of 97
process 464 of 97
process 465 of 97
process 466 of 97
process 467 of 97
process 468 of 97
process 469 of 97
process 470 of 97
process 471 of 97
process 472 of 97
process 473 of 97
process 474 of 97
process 475 of 97
process 476 of 97
process 477 of 97
process 478 of 97
process 479 of 97
process 480 of 97
process 481 of 97
process 482 of 97
process 483 of 97
process 484 of 97

In [17]:
latlong_bck = latlong
latlong_bck

     kode_bps    latitude    longitude
0      1101.0   2.4517114   96.3774566
1      1102.0   2.2732113    97.813226
2      1103.0    3.260106    97.189643
3      1104.0   3.4732392   97.8151078
4      1105.0   4.9114668   97.8056172
..        ...         ...          ...
480    9109.0  -6.3249684  106.6666453
481    9110.0  -1.3655687  132.2940383
482    9111.0  -0.8624453  134.0626113
483    9112.0  -1.6697561  132.6797821
484    9171.0  -0.8803552  131.2885325

[485 rows x 3 columns]

In [23]:
latlong['kode_bps'] = latlong['kode_bps'].astype(int)
latlong

     kode_bps    latitude    longitude
0        1101   2.4517114   96.3774566
1        1102   2.2732113    97.813226
2        1103    3.260106    97.189643
3        1104   3.4732392   97.8151078
4        1105   4.9114668   97.8056172
..        ...         ...          ...
480      9109  -6.3249684  106.6666453
481      9110  -1.3655687  132.2940383
482      9111  -0.8624453  134.0626113
483      9112  -1.6697561  132.6797821
484      9171  -0.8803552  131.2885325

[485 rows x 3 columns]

In [25]:
temp = pd.merge(kabkota, latlong, on='kode_bps', how='inner')
# kabkota_split[0]
# get info variable
# latlong
# kabkota_split[0]

In [26]:
temp

,kode_prov,kode_bps,nama_bps,nama_dagri,kode_dagri,latitude,longitude
0,11,1101,SIMEULUE,KAB. SIMEULUE,11.09,2.4517114,96.3774566
1,11,1102,ACEH SINGKIL,KAB. ACEH SINGKIL,11.10,2.2732113,97.813226
2,11,1103,ACEH SELATAN,KAB. ACEH SELATAN,11.01,3.260106,97.189643
3,11,1104,ACEH TENGGARA,KAB. ACEH TENGGARA,11.02,3.4732392,97.8151078
4,11,1105,ACEH TIMUR,KAB. ACEH TIMUR,11.03,4.9114668,97.8056172
...,...,...,...,...,...,...,...
480,91,9109,TAMBRAUW,KAB. TAMBRAUW,92.09,-6.3249684,106.6666453
481,91,9110,MAYBRAT,KAB. MAYBRAT,92.10,-1.3655687,132.2940383
482,91,9111,MANOKWARI SELATAN,KAB. MANOKWARI SELATAN,92.11,-0.8624453,134.0626113
483,91,9112,PEGUNUNGAN ARFAK,KAB. PEGUNUNGAN ARFAK,92.12,-1.6697561,132.6797821
484,91,9171,SORONG,KOTA SORONG,92.71,-0.8803552,131.2885325

In [27]:
temp.to_csv('kabupaten_latlong.csv', index=False)

In [9]:
new_latlong = pd.read_csv('kabupaten_latlong.csv')
new_latlong.tail()

,kode_prov,kode_bps,nama_bps,nama_dagri,kode_dagri,latitude,longitude
480,91,9109,TAMBRAUW,KAB. TAMBRAUW,92.09,-6.324968,106.666645
481,91,9110,MAYBRAT,KAB. MAYBRAT,92.10,-1.365569,132.294038
482,91,9111,MANOKWARI SELATAN,KAB. MANOKWARI SELATAN,92.11,-0.862445,134.062611
483,91,9112,PEGUNUNGAN ARFAK,KAB. PEGUNUNGAN ARFAK,92.12,-1.669756,132.679782
484,91,9171,SORONG,KOTA SORONG,92.71,-0.880355,131.288533

In [16]:
kabkota_papua = kabkota[kabkota['kode_prov'] == 94]
kabkota_papua.head()

     kode_prov  kode_bps         nama_bps            nama_dagri  kode_dagri
485         94      9401          MERAUKE          KAB. MERAUKE       91.01
486         94      9402       JAYAWIJAYA       KAB. JAYAWIJAYA       91.02
487         94      9403         JAYAPURA         KAB. JAYAPURA       91.03
488         94      9404           NABIRE           KAB. NABIRE       91.04
489         94      9408  KEPULAUAN YAPEN  KAB. KEPULAUAN YAPEN       91.05

In [19]:
iterateScrape(kabkota_papua)

process 485 of 29
process 486 of 29
process 487 of 29
process 488 of 29
process 489 of 29
process 490 of 29
process 491 of 29
process 492 of 29
process 493 of 29
process 494 of 29
process 495 of 29
process 496 of 29
process 497 of 29
process 498 of 29
process 499 of 29
process 500 of 29
process 501 of 29
process 502 of 29
process 503 of 29
process 504 of 29
process 505 of 29
process 506 of 29
process 507 of 29
process 508 of 29
process 509 of 29
process 510 of 29
process 511 of 29
process 512 of 29
process 513 of 29

In [23]:
latlong = pd.concat([latlong, pd.DataFrame(new_data_list)], ignore_index=True)

In [25]:
kabkota_papua_latlong = pd.merge(kabkota_papua, latlong, on='kode_bps', how='inner')
kabkota_papua_latlong.head()

,kode_prov,kode_bps,nama_bps,nama_dagri,kode_dagri,latitude,longitude
0,94,9401,MERAUKE,KAB. MERAUKE,91.01,-8.5116578,140.4091634
1,94,9402,JAYAWIJAYA,KAB. JAYAWIJAYA,91.02,-4.0992374,138.9456582
2,94,9403,JAYAPURA,KAB. JAYAPURA,91.03,-2.5740161,140.5960441
3,94,9404,NABIRE,KAB. NABIRE,91.04,-3.3653831,135.5014038
4,94,9408,KEPULAUAN YAPEN,KAB. KEPULAUAN YAPEN,91.05,-1.8724708,136.2375008

In [28]:
new_latlong = pd.concat([new_latlong, kabkota_papua_latlong], ignore_index=True)
new_latlong

,kode_prov,kode_bps,nama_bps,nama_dagri,kode_dagri,latitude,longitude
0,11,1101,SIMEULUE,KAB. SIMEULUE,11.09,2.451711,96.377457
1,11,1102,ACEH SINGKIL,KAB. ACEH SINGKIL,11.10,2.273211,97.813226
2,11,1103,ACEH SELATAN,KAB. ACEH SELATAN,11.01,3.260106,97.189643
3,11,1104,ACEH TENGGARA,KAB. ACEH TENGGARA,11.02,3.473239,97.815108
4,11,1105,ACEH TIMUR,KAB. ACEH TIMUR,11.03,4.911467,97.805617
...,...,...,...,...,...,...,...
509,94,9433,PUNCAK,KAB. PUNCAK,91.25,-3.8415752,137.8070662
510,94,9434,DOGIYAI,KAB. DOGIYAI,91.26,-3.5505705,135.0805137
511,94,9435,INTAN JAYA,KAB. INTAN JAYA,91.27,-3.4243611,137.1363895
512,94,9436,DEIYAI,KAB. DEIYAI,91.28,-4.1298477,136.408159
513,94,9471,JAYAPURA,KOTA JAYAPURA,91.71,-2.5740161,140.5960441

In [37]:
prov = prov.rename(columns={'nama': 'nama_provinsi', 'kode': 'kode_prov'})
prov.head()

   kode_prov   nama_provinsi
0         11            ACEH
1         12  SUMATERA UTARA
2         13  SUMATERA BARAT
3         14            RIAU
4         15           JAMBI

In [38]:
new_latlong = pd.merge(new_latlong, prov, on='kode_prov', how='inner')
new_latlong

,kode_prov,kode_bps,nama_bps,nama_dagri,kode_dagri,latitude,longitude,nama_provinsi
0,11,1101,SIMEULUE,KAB. SIMEULUE,11.09,2.451711,96.377457,ACEH
1,11,1102,ACEH SINGKIL,KAB. ACEH SINGKIL,11.10,2.273211,97.813226,ACEH
2,11,1103,ACEH SELATAN,KAB. ACEH SELATAN,11.01,3.260106,97.189643,ACEH
3,11,1104,ACEH TENGGARA,KAB. ACEH TENGGARA,11.02,3.473239,97.815108,ACEH
4,11,1105,ACEH TIMUR,KAB. ACEH TIMUR,11.03,4.911467,97.805617,ACEH
...,...,...,...,...,...,...,...,...
509,94,9433,PUNCAK,KAB. PUNCAK,91.25,-3.8415752,137.8070662,PAPUA
510,94,9434,DOGIYAI,KAB. DOGIYAI,91.26,-3.5505705,135.0805137,PAPUA
511,94,9435,INTAN JAYA,KAB. INTAN JAYA,91.27,-3.4243611,137.1363895,PAPUA
512,94,9436,DEIYAI,KAB. DEIYAI,91.28,-4.1298477,136.408159,PAPUA
513,94,9471,JAYAPURA,KOTA JAYAPURA,91.71,-2.5740161,140.5960441,PAPUA

## Export Result

In [40]:
new_latlong.to_csv('kabupaten_latlong.csv', index=False)

In [41]:
driver.close()